

@lightGrey: rgb(218, 218, 218);
@green: rgb(66, 141, 65);
@white: rgb(255, 255, 255);

.keyframes(@name; @args) {
	@-moz-keyframes @name { @args(); }
	@-webkit-keyframes @name { @args(); }
	@keyframes @name { @args(); }
}

.animation(@args) {
	-webkit-animation: @args;
	-moz-animation: @args;
	animation: @args;
}


.keyframes(slideUp; {
	from{ transform: translateY(0); overflow: hidden; }        
	to{ overflow: hidden; height: 0; transform: translateY(-100vh);}
	});

.displayNone(){
	display: none !important;
}

html{
	font-size: 10px;
}

.displayNone{
	.displayNone();
}

.game_intro{
	height: 100vh;
}

.game_intro.slide_up{
	.animation(slideUp 2s forwards);

}

.start_overlay{
	display: flex;
	height: 100%;
	.overlay_block{
		width: 100%;
		height: auto;
		margin: auto;
		text-align: center;
		color: black;
		.overlay_game_title{

			font-size: 8rem;
			margin-bottom: 2rem;
		}
		.overlay_text_block{
			margin-bottom: 3rem;
			.overlay_text{

				font-size: 5rem;
			}	
		}

		.start_button{
			background-color: orange;
			padding: 1rem;
			width: 50%;
			margin: 0 auto;
			border: 1px solid grey;
			border-radius: 2rem;
			transition: background-color .25s;
			cursor: pointer;
			span{
				text-transform: uppercase;
			}
			&:hover{
				background-color: red;
			}
		}
	}
}


.game_wrapper{
	height: 100vh;
}

#memory_board{

	border:#999 1px solid;
	width: 800px;
	padding: 24px;
	margin: 0px auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	> div{
		background: @green;
		border: #000 1px solid;
		width: 150px;
		height: 250px;
		float: left;
		margin: 10px;
		padding: 0px;
		font-size: 16px;
		cursor: pointer;
		text-align: center;
		list-style-type: none;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		color: @white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		backface-visibility: hidden;
	}
}
.bio_wrapper{
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	background-color: white;
	.tile_bio{
		max-width: 60vw;
	}
}
.close{
	position: relative;
	right: 0;
	top: -10rem;
}

/* entire container, keeps perspective */
.card-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.card-container:hover .flipper, .card-container.hover .flipper {
	transform: rotateY(180deg);
}

.card-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}




